*~
*.[oa]
*.lo
*.la
.deps
.libs
vala.stamp
Makefile.in
TAGS
aclocal.m4
autom4te.cache/
autoscan.log
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
libtool
ltmain.sh
missing
stamp-h1
